@use "reset";
@use "variables/global" as *;
@use "themes/dark";
@use "themes/light";

body{
  color: var(--text-primary-color);
  font: var(--font-m);
}

.app {
  background: var(--bg-color);
  color: var(--text-primary-color);
  font: var(--font-m);
  font-weight: 400;
  min-height: 100vh;
}