.app.light {
  --bg-color: #FAF5F0;
  //для фона любых элементов, которые визуально лежат поверх основного фона страницы
  --surface-color: #FFFFFF;
  --text-primary-color: #2B1B2E;
  --text-secondary-color: #7A6169;
  --border-color: rgba(43, 27, 46, 0.08);
  --accent-color: #B8903F;
  //цвет оверлея модалки
  --overlay-color: rgba(43, 27, 46, 0.6);
}